/**
 * 1.0 Color
 * -----------------------------------------------------------------------------
 */
#featured-content .slider-content h2.entry-title a, #secondary-nav .sf-menu li a:hover, #secondary-nav .sf-menu li.current_item a, #secondary-nav .sf-menu li li a:hover, #primary-nav .sf-menu li li a:hover, .wc-nav li > a, .wc-nav li.language a, .mini-cart-content a.title:hover, h2.entry-title:hover a, .single-product .summary .price ins, table.cart td.product-remove .remove:hover, td.product-name a:hover, .pagination .current, .pagination .page-numbers:hover, .breadcrumbs .trail-end, .entry-content ul li a:hover, .single  .entry-content p a, .comment-by span.reply a, #secondary .widget h2.entry-title a:hover, #secondary .widget_category ul ul li a:hover, #footer .widget li a:hover, #site-bottom p a:hover, #primary-mobile-menu i {
	color:#4475c6;
}

#secondary-nav .sf-arrows .sf-with-ul:hover:after  {
	color: rgba(68,117,198, 0.5);
}

/**
 * 2.0 Background
 * -----------------------------------------------------------------------------
 */
#masthead, #featured-content .flex-direction-nav a:hover:before, #featured-content .flex-direction-nav a.flex-next:hover:before, .add-to-cart a:hover {
	background: rgba(68,117,198, 0.8);
}
#featured-content .slider-content a.s-button, .mini-cart-button a:hover, ul.products .product:hover .product-meta, #carousel-1 .jcarousel-control-prev:hover i, #carousel-1 .jcarousel-control-next:hover i, #carousel-2 .jcarousel-control-prev:hover i,
#carousel-2 .jcarousel-control-next:hover i, #footer .subscribe-widget button, .flex-control-paging li a:hover, .flex-control-paging li a.flex-active, #featured-content .slider-content a.s-button, .onsale, table.cart td.actions .checkout-button, .pagination .prev:hover i, .pagination .next:hover i, .newsletter-form button, .post-comment button, .widget_price_filter .ui-slider .ui-slider-range, .widget_price_filter .price_slider_amount .button, #respond #commentform .form-submit #submit {
	background: #4475c6;
}

/**
 * 3.0 Box Shadow
 * -----------------------------------------------------------------------------
 */
#featured-content .flex-direction-nav a:hover, #featured-content .flex-control-nav li:hover, #featured-content .slider-content span, #collection .wpb_wrapper, .product .add-to-cart:hover, #carousel-1 .jcarousel-control-prev:hover, #carousel-1 .jcarousel-control-next:hover, #carousel-2 .jcarousel-control-prev:hover, #carousel-2 .jcarousel-control-next:hover, #carousel-3 li:hover a, .pagination .prev:hover, .pagination .next:hover, .widget_collection a, #primary-mobile-menu{
	box-shadow: 0px 0px 1px 1px rgba(68,117,198, 0.6);
}

