#secondary-mobile-menu,
#primary-mobile-menu {
	display: none;
}
/* Boxed Layout / Start */
@media only screen and (min-width: 1280px) {
	.layout-narrow .product .add-to-cart {
		width: 58%;
		margin: 0 20%;
	}
}
/* Boxed Layout / End */

@media only screen and (max-width: 1280px) {
	
	#collection .box-element .wpb_wrapper{
		margin-right:40px;
		width:286px;
	}	
}


@media only screen and (min-width: 1024px) and (max-width: 1280px) {

	.container {
		width: 960px;
	}
	#logo {
		margin-right: 30px;
	}
	#primary-nav ul li a,
	#primary-nav ul li li a {
		padding-left: 15px;
		padding-right: 15px;
	}	
	#featured-content #carousel-0 ul li {
		width: 960px;
	}
	#featured-content .jcarousel-pagination {
		left: 290px;
	}	
	#featured-content .entry-thumbnail {
		width: 630px;
		height: auto;
	}
	.hentry {
		width: 266px;
	}
	ul.products .product {
		width: 303px;
	}
	#carousel-1 .woocommerce ul.products .product {
		width: 225px;
	}
	.carousel-loop li {
		width: 176px;
	}
	#carousel-3 li {
		width: 179px;
	}
	.layout-narrow #primary{
		width:670px;
	}
	.layout-narrow ul.products .product {
		width: 213px;
	}
	.layout-narrow .product .add-to-cart {
		width: 58%;
		margin: 0 20%;
	}
	#respond input {
		width: 171px;
	}
	#respond textarea {
		width: 598px;
	}
	#respond.comment-respond input {
		width: 185px;
	}
	#respond.comment-respond textarea {
		width: 598px;
	}
	.footer-widget-1,
	.footer-widget-2,
	.footer-widget-3 {
		width: 320px;
	}
	#footer .footer-widget-1:before {
		left: 340px;
	}
	#footer .footer-widget-2:before {
		left: 660px;
	}
	#footer .subscribe-widget input {
		width: 250px;
	}
	
	
}


@media only screen and (max-width: 1023px) {
	#primary-nav,
	#secondary-nav {
		display: none;
	}
	
	.sidr-class-menu-desc,
	.sidr-class-sf-mega-posts,
	.sidr-class-sf-mega-section h3,
	.sidr-class-sf-mega-section p {
		display: none !important;
	}
	#masthead {
		height:54px;
	}
	#logo {
		padding:25px;
	}
	#logo img{
		max-height:50px;
		max-width:50px;
	}
	#primary-mobile-menu {
		display: inline-block;
		height: 30px;
		width:32px;
		line-height: 30px;
		text-transform: uppercase;
		position: relative;
		z-index: 99;
		float:right;
		margin-top:10px;
		margin-bottom:10px;
		text-align:center;
		border-style: solid;
		border-width: 2px;
		border-color: transparent;
		border-radius: 3px;
		box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.6);
	}
	#primary-mobile-menu i{
		background:#ffffff;
		color: #ef6c5f;
		padding:7px 10px;
	}
	.wc-nav {
		float: right;
		margin-top: 10px !important;
		margin-left:0;
		margin-right:10px;
	}
	#secondary-mobile-menu{
		color: #4d4d4d;
		display: inline-block;
		float: right;
		text-transform: uppercase;
	}
	#secondary-mobile-menu span{
		font-size:13px
	}
	#secondary-bar #secondary-mobile-menu .fa {
		color: #4d4d4d;
	}
	#secondary-mobile-menu .fa-bars {
		margin-left: 0;
	}
	.wc-nav li > a {
		padding: 6px 15px;
	}
	.wc-nav li.language {
		display:none;
	}
	.wc-nav li.cart span.amount{
		display:none;
	}
	#secondary-bar {
		top: 54px;
	}
	.search-form {
		display: none;
	}
	#featured-content .slider-content {
		margin-top: -220px;
		width: 70%;
	}
	#featured-content .flex-direction-nav a  { 
		width: 40px; 
		height: 40px;
		top: 60%;
	}
	#featured-content .flex-direction-nav a:before  { 
		padding:5px 15px;
	}
	#respond input {
		display: block;
		clear: both;
	}
	.newsletter-form input {
		width: 240px;
		margin-right: 0;
		margin-bottom:15px;
	}	
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {

	.header-ad img {
		width: 640px;
	}
	.container {
		width: 720px;
	}
	#primary-nav ul li a {
		padding-left: 20px;
		padding-right: 20px;
	}
	#collection .box-element .wpb_wrapper{
		width:207px;
	}
	.product .add-to-cart {
		width: 56%;
		margin: 0 21%;
	}
	.layout-narrow #primary {
		width: 430px;
	}	
	.layout-narrow ul.products .product {
		width: 100%;
		margin-right: 0;
	}
	#carousel-2 li {
		width: 226px;
	}
	.hentry {
		width: 196px;
	}
	 ul.products .product {
		width: 226px;
		margin-right: 20px;
	}
	#carousel-1 .woocommerce ul.products .product {
		width: 225px;
	}
	.carousel-loop li {
		width: 128px;
	}
	#carousel-3 li {
		width: 167px;
	}
	
	#secondary .widget {
		width: 220px;
	}
	#secondary .ad-widget img {
		width: 220px;
	}
	#secondary .subscribe-widget input {
		width: 190px;
		margin: 0 0 5px 0;
	}
	#secondary .subscribe-widget button {
		width: 220px;
	}
	#secondary .tabs-widget .tabs-nav li a {
		padding: 0 10px;
	}
	#related-content ul li {
		width: 165px;
	}
	#related-content ul li .entry-meta {
		display: none;
	}
	#related-content ul li .entry-thumbnail {
		width: 165px;
		margin-bottom: 10px;
	}
	.entry-content .entry-share {
		left: -41px;
		width: 40px;
	}
	.entry-content .entry-share ul {
		padding: 12px;
	}
	
	#respond textarea {
		width: 438px;
	}
	#respond.comment-respond textarea {
		width: 358px;
	}
	.footer-widget-1,
	.footer-widget-2,
	.footer-widget-3 {
		width: 240px;
	}
	#footer .footer-widget-1:before {
		left: 259px;
	}
	#footer .footer-widget-2:before {
		left: 498px;
	}
	#footer .subscribe-widget button {
		width: 165px;
		margin: 0;
	}
	#footer .subscribe-widget input {
		width: 170px;
	}
}

@media only screen and (max-width: 767px) { 
	#secondary {
		margin-top: 0;
	}
	
	.members .member {
		width: 100%;
		padding: 10px 0;
	}
	#featured-content .slider-content h2.entry-title{
		font-size: 18px;
		margin-bottom:15px;
	}
	#featured-content .slider-content a.s-button{
		font-size: 13px;
		padding:7px 15px;
	}
	#collection .box-element .wpb_wrapper{
		margin:0;
		width:100%;
		margin-bottom:30px;
	}
	ul.products .product {
		width: 100%;
		margin-right: 0;
		margin-bottom:20px;
	}
	#carousel-1 .woocommerce{
		padding-bottom:40px;
	}
	.product .add-to-cart{
		display:block;
	}
	.product .add-to-cart{
		box-shadow: 0px 0px 1px 1px rgba(239, 108, 95, 0.8);
	}
	.add-to-cart a{
		background-color:rgba(239, 108, 95, 0.8);
	}
	.hentry {
		margin-bottom:0;
	}
	.woocommerce .tabs-nav li {
		margin-right: 25px;
		font-size: 16px;
	}
	#carousel-3 .jcarousel-control-prev{
		left:-15px;
	}
	#carousel-3 .jcarousel-control-next {
		right:-15px;
	}
	.woocommerce-result-count {
		display: block;
		margin-bottom: 15px;
	}
	.woocommerce-ordering {
		float: none;
		display: block;
		margin-bottom: 35px;
	}
	.layout-narrow #primary {
		width: 100%;
		float: none;
		margin-right: 0;
		margin-bottom:30px;
	}
	.layout-narrow ul.products .product {
		width:100%;
		margin-right:0;
	}	
	.layout-narrow #secondary {
		float: none;
		width:100%;
	}
	.single-product .images {
		width: 100%;
		float: none;
	}
	.single-product .summary {
		width: 100%;
		float: none;
	}
	.woocommerce_message .button, .woocommerce-message .button {
		margin-top: 3px;
	}
	.woocommerce_tabs ul.tabs li a, .woocommerce-tabs ul.tabs li a, .ui-tabs ul.tabs li a, .woocommerce_tabs .ui-tabs-nav li a, .woocommerce-tabs .ui-tabs-nav li a, .ui-tabs .ui-tabs-nav li a {
		padding: 7px 12px;
		font-size: 15px;
	}
	#respond #commentform .comment-form-author, #respond #commentform .comment-form-email, #respond #commentform .comment-form-url {
		width: 100%;
		display:block;
		float: none;
		margin-right: 0;
	}
	#news-ticker span.text, #breadcrumbs strong, table.cart .product-thumbnail, table.cart .product-price, table.cart .product-quantity {
		display: none;
	}
	table.cart td.actions .coupon {
		width: 100%;
		margin: 0 0 20px 0;
	}
	
	table.cart td.actions .update-cart-button, table.cart td.actions .checkout-button {
		float: none;
		width: 100% !important;
		margin: 0 0 10px 0 !important;
	}
	.content-block-3 .block, .content-block-4 .block, .footer-column, .cart-collaterals .cross-sells, .cart-collaterals .cart_totals, .cart-collaterals .shipping_calculator {
		float: none;
		width: 100%;
	}
	h1.entry-title {
		font-size: 25px;
	}
	.single .hentry .entry-meta span {
		display: block;
		margin: 0 0 10px 0;
	}
	.entry-content .entry-share{
		position:relative;
		left:0;
		top:0;
		width:auto;
		z-index:999;
	}
	.entry-content .entry-share ul{
		margin:0 0 20px; 
		padding:0;
	}
	.entry-content .entry-share ul li {
		list-style: none;
		display:inline-block;
		margin: 0 16px 0 0;
	}
	.footer-widget-1,
	.footer-widget-2,
	.footer-widget-3 {
		width: 100%;
	}
	.footer-widget-1,
	.footer-widget-2{
		padding-bottom:35px;
		margin-bottom:35px;
		border-bottom: 3px solid #eeeeee;
	}
	#footer .footer-widget-1:before {
		border-right:none;
	}
	#footer .footer-widget-2:before {
		border-right:none;
	}
	.footer-widget-2 .widget, .footer-widget-3 .widget {
		padding-left: 0;
		margin-left:0;
	}
	#site-bottom{
		text-align:center;
	}
	#site-bottom .copyright{
		display:block;
		float:none;
	}
	#site-bottom .payment{
		display:block;
		float:none;
	}

}
@media only screen and (min-width: 480px) and (max-width: 767px) { 

	.header-ad {
		height: auto;
	}
	.header-ad img {
		width: 420px;
	}
	.container {
		width: 420px;
	}
	#primary-nav ul li a {
		padding-left: 20px;
		padding-right: 20px;
	}
	#featured-content .slider-content {
		margin-top: -145px;
		width: 100%;
	}
	#carousel-1 .woocommerce ul.products .product {
		width: 199px;
	}
	#carousel-2 li {
		width: 420px;
		margin-right:0;
	}
	.hentry {
		width: 390px;
		margin-right:0;
	}
	
	#related-content .jcarousel-control-prev,
	#related-content .jcarousel-control-next {
		top: 55px;
	}
	#respond.comment-respond textarea {
		width: 348px;
	}	
	.carousel-loop li {
		width: 126px;
	}
	#carousel-3 li {
		width: 200px;
	}
	#more-content {
		width: 420px;
	}
	
	#secondary .ad-widget .widget-title {
		text-align: left;
	}
	#secondary .subscribe-widget input {
		width: 298px;
	}
	
	table.cart td.actions .coupon .input-text {
		width: 250px !important;
	}
	.footer-column-1,
	.footer-column-2,
	.footer-column-3,
	.footer-column-4 {
		width: 200px;
	}
	.footer-column-2 {
		padding-right: 0;
	}
	#footer .subscribe-widget input {
		width: 390px;
	}
	

}

@media only screen and (max-width: 479px) {
	#masthead,
	#secondary-bar {
		position: static;
	}
	#secondary-mobile-menu {
		line-height: 1.4;
	}	
	.woocommerce-page #main {
		padding-top: 60px;
	}
	.header-ad {
		height: auto;
	}
	.header-ad img {
		width: 280px;
	}
	.container {
		width: 280px;
	}
	#primary-nav ul li a {
		padding-left: 20px;
		padding-right: 20px;
	}
	.wc-nav li.cart .cart-dropdown{
		right: -40px;;
		left:auto;
		display: none;
		width: 280px;
	}
	.wc-nav li.cart .cart-dropdown-content{
		padding: 10px;
	}
	.mini-cart-content {
		width: 195px;
	}

	.wc-nav .widget_shopping_cart {
		right: -50px;
	}
	
	#featured-content .slider-content{
		position:absolute;
		z-index:9999999;
		margin-top:0;
		width:100%;
		bottom:0;
		margin-bottom:30px;
		left:30px;
	}
	#featured-content .slider-content a.s-button {
		font-size: 12px;
		padding: 5px 10px;
	}
	.flex-control-nav {
		bottom: 0px;
	}
	.woocommerce .tabs-nav li a {
		font-size: 14px;
	}
	#carousel-1 .woocommerce ul.products .product {
		width: 132px;
		margin-right:15px;
	}
	#carousel-2 li {
		width: 280px;
		margin-right:0;
	}
	.hentry {
		width: 250px;
	}
	
	
	#carousel-3 li {
		width: 130px;
	}
	
	#more-content {
		width: 280px;
	}
	table.cart td.actions .coupon .input-text {
		width: 110px !important;
	}
	
	#secondary .widget {
		width: 280px;
	}
	#secondary .ad-widget img {
		width: 280px;
	}
	#secondary .ad-widget .widget-title {
		text-align: left;
	}
	#secondary .subscribe-widget input {
		width: 158px;
	}
	#related-content ul li {
		width: 130px;
	}
	#related-content ul li .entry-meta {
		display: none;
	}
	#related-content ul li .entry-thumbnail {
		width: 130px;
		margin-bottom: 10px;
	}
	.comment .avatar {
		display: none;
	}
	.comment-des {
		margin-left: 0;
	}
	#respond textarea {
		width: 208px;
	}
	#secondary .widget {
		width: 240px;
	}
	.newsletter-form input {
		width: 210px;
	}
	ol li ol.children {
		margin-left: 40px;
	}
	.footer-column-1,
	.footer-column-2,
	.footer-column-3,
	.footer-column-4 {
		width: 280px;
		margin: 0;
		padding-right: 0;
	}
	#site-bottom ul li {
		font-size: 10px;
		margin: 0 5px;
	}
	#footer .subscribe-widget input {
		width: 250px;
	}	
}

@media only screen and (max-width: 320px) { 
	
}


/* sidr style */
.sidr {
	display: none;
	position: absolute;
	position: fixed;
	top: 0;
	height: 100%;
	z-index: 999999;
	width: 260px;
	margin-right: 5px;
	overflow-x: none;
	overflow-y: auto;
	font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
	font-size: 15px;
	background: #333;
	color: #fff;
	-webkit-box-shadow: inset 0 0 5px 5px #222;
	-moz-box-shadow: inset 0 0 5px 5px #222;
	box-shadow: inset 0 0 5px 5px #222
}
.sidr .sidr-inner {
	padding: 0 0 15px;
	position:relative;
}
.sidr .sidr-inner>p {
	margin-left: 15px;
	margin-right: 15px
}
.sidr.right {
	left: auto;
	right: -260px
}
.sidr.left {
	left: -260px;
	right: auto
}
.sidr h1,.sidr h2,.sidr h3,.sidr h4,.sidr h5,.sidr h6 {
	font-size: 11px;
	font-weight: normal;
	padding: 0 15px;
	margin: 0 0 5px;
	color: #fff;
	line-height: 24px;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #4d4d4d), color-stop(100%, #1a1a1a));
	background-image: -webkit-linear-gradient(#4d4d4d,#1a1a1a);
	background-image: -moz-linear-gradient(#4d4d4d,#1a1a1a);
	background-image: -o-linear-gradient(#4d4d4d,#1a1a1a);
	background-image: linear-gradient(#4d4d4d,#1a1a1a);
	-webkit-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2);
	box-shadow: 0 5px 5px 3px rgba(0,0,0,0.2)
}
.sidr p {
	font-size: 13px;
	margin: 0 0 12px
}
.sidr p a {
	color: rgba(255,255,255,0.9)
}
.sidr>p {
	margin-left: 15px;
	margin-right: 15px
}
.sidr ul {
	display: block;
	margin: 0 0 15px;
	padding: 0;
	border-top: 1px solid #1a1a1a;
	border-bottom: 1px solid #4d4d4d
}
.sidr ul li {
	display: block;
	margin: 0;
	line-height: 48px;
	border-top: 1px solid #4d4d4d;
	border-bottom: 1px solid #1a1a1a
}
.sidr ul li:hover,.sidr ul li.active,.sidr ul li.sidr-class-active {
	border-top: none;
	line-height: 49px
}
.sidr ul li:hover>a,.sidr ul li:hover>span,.sidr ul li.active>a,.sidr ul li.active>span,.sidr ul li.sidr-class-active>a,.sidr ul li.sidr-class-active>span {
	-webkit-box-shadow: inset 0 0 15px 3px #222;
	-moz-box-shadow: inset 0 0 15px 3px #222;
	box-shadow: inset 0 0 15px 3px #222
}
.sidr ul li a,.sidr ul li span {
	padding: 0 15px;
	display: block;
	text-decoration: none;
	color: #fff
}
.sidr ul li ul {
	border-bottom: none;
	margin: 0
}
.sidr ul li ul li {
	line-height: 40px;
	font-size: 13px
}
.sidr ul li ul li:last-child {
	border-bottom: none
}
.sidr ul li ul li:hover,.sidr ul li ul li.active,.sidr ul li ul li.sidr-class-active {
	border-top: none;
	line-height: 41px
}
.sidr ul li ul li:hover>a,.sidr ul li ul li:hover>span,.sidr ul li ul li.active>a,.sidr ul li ul li.active>span,.sidr ul li ul li.sidr-class-active>a,.sidr ul li ul li.sidr-class-active>span {
	-webkit-box-shadow: inset 0 0 15px 3px #222;
	-moz-box-shadow: inset 0 0 15px 3px #222;
	box-shadow: inset 0 0 15px 3px #222
}
.sidr ul li ul li a,.sidr ul li ul li span {
	color: rgba(255,255,255,0.8);
	padding-left: 30px
}
.sidr form {
	margin: 0 15px
}
.sidr label {
	font-size: 13px
}
.sidr input[type="text"],.sidr input[type="password"],.sidr input[type="date"],.sidr input[type="datetime"],.sidr input[type="email"],.sidr input[type="number"],.sidr input[type="search"],.sidr input[type="tel"],.sidr input[type="time"],.sidr input[type="url"],.sidr textarea,.sidr select {
	width: 100%;
	font-size: 13px;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0 0 10px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	border-radius: 2px;
	border: none;
	background: rgba(0,0,0,0.1);
	color: rgba(255,255,255,0.6);
	display: block;
	clear: both
}
.sidr input[type=checkbox] {
	width: auto;
	display: inline;
	clear: none
}
.sidr input[type=button],.sidr input[type=submit] {
	color: #333;
	background: #fff
}
.sidr input[type=button]:hover,.sidr input[type=submit]:hover {
	background: rgba(255,255,255,0.9)
}