.tt_event_hours {

	.event_hours_left {
		clear: left;
	}

}

.tt_event_columns {

	.tt_event_column_left,
	.tt_event_column_right {
		width: 47%;
	}

	.tt_event_column_left {
		margin-right: 5%;
	}

}

.tt_event_hours {

	.event_hours_left,
	.event_hours_right {
		width: 47%;
	}

	.event_hours_left {
		margin-right: 5%;
	}

}