.site-footer {
	background-color: #222;
	color: #d3d3d3;
	font-size: 14px;
	padding: 50px 0 10px;
}

.footer-sidebar {

	.widget-title {
		color: #fff;
	}

	.footer-column .posts-thumbnail-widget {
		li a {
			padding: 0;
			&::before {
				content: "";
			}
		}
	}

	.widget {
		a {
			color: #fff;
			&:hover {
				color: $accent-1;
			}
			&::before {
				top: 1px;
			}
		}
		li {
			padding: 13px 0;
			border-top: 1px solid rgba(255, 255, 255, 0.07);
			&:first-child {
				border-top: 0;
				padding-top: 0;
			}
		}
	}

	.widget_categories {
		a {
			&::before {
				top: 4px;
			}
		}
	}

}

.footer-credits {
	background-color: #1c1c1c;
	color: #ccc;
	font-size: 13px;
	padding: 16px 0;

	a {
		color: #fff;
	}

	p {
		margin-bottom: 0;
	}

}

.copyrights {
	text-align: right;
	@media (min-width: 320px) and (max-width: 768px) {
		text-align: center;
	}
}

.footer-menu {
	@media (min-width: 320px) and (max-width: 767px) {
		margin-bottom: 20px;
		text-align: center;
	}
	
	li {
		padding: 0 12px;
		@media (min-width: 320px) and (max-width: 768px) {
			float: none;
			display: inline-block;
		}
		&:first-child {
			padding-left: 0;
		}
	}

	a {
		&:hover {
			color: $accent-1;
		}
	}

}