$icon-arrow-mas: "\e600";
$icon-arrow-menos: "\e601";
$icon-arrow-q: "\e602";
$icon-bullhorn: "\e603";
$icon-cancel: "\e604";
$icon-car: "\e605";
$icon-catering: "\e606";
$icon-contacts: "\e607";
$icon-delivery: "\e608";
$icon-dollar: "\e609";
$icon-food: "\e60a";
$icon-home: "\e60b";
$icon-location: "\e60c";
$icon-mail: "\e60d";
$icon-mouse: "\e60e";
$icon-off: "\e60f";
$icon-phone: "\e610";
$icon-san: "\e611";
$icon-sug: "\e612";
$icon-thumb-up: "\e613";
$icon-trash-01: "\e614";
$icon-users: "\e615";
$icon-work: "\e616";
